:root {
    --bg: #0a0a0a;
    --bg-soft: #0f0f1a;
    --text: #eaeaf0;
    --muted: #a0a0b8;
    --accent: #5856d6;
}

body {
    background: var(--bg);
    color: var(--text);
}

.bg-dark { background: var(--bg); }
.bg-soft { background: var(--bg-soft); }
.text-light { color: var(--text); }
.text-muted { color: var(--muted); }
#home {
    background-color: var(--bg-soft);
}

.accent { color: var(--accent); }

.navbar-blur {
    backdrop-filter: blur(12px);
    background: var(--bg-soft)
}
nav a {
    color: var(--text);
    transition: color 0.3s;
    position: relative;
    left: 25%;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover { color: var(--accent); }

.pill {
    border: 3px solid var(--accent);
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 1.50rem;
    letter-spacing: 0.1em;
    color: var(--accent);
    font-weight: bold;
    position: relative;
    left: 20%;
}

.name-color {
    color: var(--accent);
}
.hero-name {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    left: 20%;
    
}

.hero-tagline {
    font-size: 1.8rem;
    line-height: 1.4;
    position: relative;
    left: 20%;
}

.section {
    padding: 120px 0;
}

.section-label {
    display: inline-block;
    border: 2px solid var(--accent);
    padding: 8px 20px;
    border-radius: 999px;
    color: var(--accent);
    
}
.aboutme-pill {
    border: 3px solid var(--accent);
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 1.50rem;
    letter-spacing: 0.1em;
    color: var(--accent);
    font-weight: bold;
    position: relative;
    top: -37%;
        
}
.aboutme-me {
    color: var(--text);
}
.section-title {
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    left: 20%;
    font-weight: bold;
}
.aboutme-p {
    position: relative;
    right: 20%;
    font-weight: bold;
    font-size: 1.50rem;
    line-height: 1.20;
}
.mt-6 {
    position: relative;
    right: 20%;
    font-weight: bold;
    
}

.btn-primary {
    background: var(--accent);
    color: white;
    padding: 14px 32px;
    border-radius: 999px;
    font-weight: 600;
    position: relative;
    left: 20%;
}

.btn-outline {
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 14px 32px;
    border-radius: 999px;
    position: relative;
    left: 20%;
}

.icon-btn {
    width: 44px;
    height: 44px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
}

.avatar-ring {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 6px solid var(--accent);
    overflow: hidden;
    position: relative;
    right: 10%;
}
.avatar-ring img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-number {
    font-size: 4rem;
    font-weight: 700;
}

.project-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--accent);
}

.project-img {
    border-radius: 12px;
}

.contact-title {
    font-size: 3rem;
}
